{% load i18n %}

<html>
    <head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body>
        <div class="row">
            <div class="col-md-6">
                <h1>Websockets</h1>
                <table class="table table-striped" id="snippets_list">

                </table>
                <form id="create_snippet">
                  <div class="form-group">
                    <label for="snippetTitle">Title</label>
                    <input type="text" class="form-control" id="snippetTitle" name="title" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <label for="snippetContent">Content</label>
                    <textarea class="form-control" id="snippetContent" placeholder="Content" name="content"></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-md-6">
                <h1>SockJS</h1>
                <table class="table table-striped" id="snippets_list_js">
                </table>
                <form id="create_snippet_js">
                    <div class="form-group">
                        <label for="snippetTitleJS">Title</label>
                        <input type="text" class="form-control" id="snippetTitleJS" name="title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="snippetContentJS">Content</label>
                        <textarea class="form-control" id="snippetContentJS" placeholder="Content" name="content"></textarea>
                      </div>
                      <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </body>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/sockjs/1.0.3/sockjs.min.js"></script>
    <script>
        $(document).ready(function(){
            var snippetsHandler = {
                snippets: function(data) {
                    var table = $('#snippets_list');
                    table.html('');
                    snippets = JSON.parse(data['snippets']);
                    if (data['snippets']) {
                        for (var i in snippets) {
                            var snippet = snippets[i];
                            table.append('<tr><td><a href="#" data-id="' + snippet.id + '">' + snippet.title + '</a></td></tr>');
                        }
                    }
                },
                snippet: function(data) {
                    var modal = $('.modal'),
                        snippet = JSON.parse(data['snippet']);
                    modal.find('.modal-title').text(snippet.title);
                    modal.find('.modal-body').text(snippet.content);
                    modal.modal('show');
                }
            }
            var ws = new WebSocket('ws://localhost:8001/ws');
            ws.onopen = function(event) {
                console.log('socket connected');
            }
            ws.onclose = function(error) {
                console.log('error:', error);
            }
            ws.onmessage = function(event) {
                var data = JSON.parse(event.data);
                snippetsHandler[data.type](data);
            }
            $('#create_snippet').on('submit', function(e) {
                e.preventDefault();
                data = {
                    'title': $(this).find('input[name="title"]').val(),
                    'content': $(this).find('textarea[name="content"]').val()
                }
                ws.send(JSON.stringify({
                    type: 'create',
                    snippet: data
                }));
                $(this).trigger('reset');
            });
            $('#snippets_list').on('click', 'a', function(e) {
                e.preventDefault();
                var id = $(this).data('id');
                ws.send(JSON.stringify({
                    type: 'fetch',
                    id: data
                }));
            })

            // SockJS

            function connect(url) {
                var sock = new SockJS(url);
                sock.onopen = function() {
                    console.log('SockJS open');
                };
                sock.onmessage =  function (event) {
                    var data = JSON.parse(event.data);
                    snippetsHandler[data.type](data);
                };
                sock.onclose = function(error) {
                    console.log('error:', error);
                }
                $('#create_snippet_js').on('submit', function(e) {
                    e.preventDefault();
                    data = {
                        'title': $(this).find('input[name="title"]').val(),
                        'content': $(this).find('textarea[name="content"]').val()
                    }
                    sock.send(JSON.stringify({
                        type: 'create',
                        snippet: data
                    }));
                    $(this).trigger('reset');
                });
                $('#snippets_list_js').on('click', 'a', function(e) {
                    e.preventDefault();
                    var id = $(this).data('id');
                    sock.send(JSON.stringify({
                        type: 'fetch',
                        id: data
                    }));
                })
            }
            connect("http://localhost:8002/sockjs");
        });
    </script>
</html>
